.login {
    width: 400px;
    background: rgb(186, 214, 236);
    border: 1px solid #050505;
    box-shadow: 0 3px 4px rgb(0 0 0 / 10%), 0 8px 16px rgba(64, 63, 63, 0.1);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
.button {
    background: blue;
    border: 1.5px solid #070707;
    color: rgb(5, 5, 5);
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0.3rem 0;
    border-radius: 8px;
    width: 80%;
    cursor: pointer;
    
}